/* .container{
  width: 400px;
  border: 4px solid;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 10px;
} */

/* index5 */
.container {


}

.item{ 
  width: 100px;
  height: 100px;
  /* background-color: orange; */
  border: 5px solid;
  border-radius: 50%;
  border-top: 5px transparent;
  /* transition-property: all; 기본값 */
  /* transition-timing-function: ease; 기본값 */
  /* transition-duration: 1s;
  transition-delay: 1s; */
  animation-name: loading ;
  animation-duration: 1s;
  animation-iteration-count: forwards;
  animation-timing-function: linear;
  animation-fill-mode: both;
  animation-delay: .4s;
  animation-direction: alternate;
  
}
@keyframes loading {
  0% {
    position: absolute;
    top: 50px;
    left: 50px;
    transform: rotateZ(0deg);
  }
  100% {
    top:150px;
    left: 300px;
    transform: rotateZ(360deg);
  }
}


.item:hover{
  width: 300px;
  background-color: red;
  animation-play-state: paused;
}